<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.security.automation.apple-events</key>
	<true/>
	<key>com.apple.security.scripting-targets</key>
	<array>
		<dict>
			<key>com.apple.finder</key>
			<array/>
			<key>com.apple.terminal</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
